
body {
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
    background-image: url("images/Bow.jpg");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    border: 3px solid black;
}


nav {
    background-color: #003366;
    border: 2px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav ul li {
    flex: 1;
    text-align: center;
    border-right: 1px solid rgb(61, 29, 29);
  }
  
  nav ul li:last-child {
    border-right: none;
  }
  
  nav ul li a {
    display: block;
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #84acd4;
  }
  
  nav ul li a:hover {
    background-color: #41aa00;
    transition: background-color 0.3s ease;
  }


hr {
    border: 2px solid black;
    margin: 10px 0;
}


aside {
    width: 20%;
    position: fixed;
    top: 120px;
    right: 10px;
    background: rgb(236, 236, 41);
    padding: 15px;
    border: 2px solid black;
}

aside ul {
    list-style-type: square;
    padding-left: 20px;
}

aside ul li {
    padding: 5px 0;
}

aside ul li a {
    text-decoration: none;
    color: #0033cc;
    font-weight: bold;
}

aside ul li a:hover {
    text-decoration: underline;
}


article {
    width: 75%;
    margin-left: 2%;
    padding: 20px;
    border-left: 2px solid black;
    column-count: 3;
    column-rule: 2px dotted rgb(0, 255, 30);
    column-gap: 20px;
}

h1 {
    text-align: left;
    font-size: 28px;
    color: #0033cc;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #0033cc;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

.first-letter {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    float:left;
}
footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}
